.input {
  display: flex;
  width: 55%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  background-color: rgba(255, 255, 255, 0.5);
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 19px;
  background-color: rgb(20, 195, 157);
  color: rgba(255, 255, 255, 0.769);
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: rgb(3, 159, 125);
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  width: 60%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 56%;
  gap: 10px;
  padding: 15px;
  background-color: rgb(20, 195, 157);
  overflow-y: auto
}

.dragactive {
  background-color: rgb(3, 159, 125);
}

.dragcomplete {
  background-color: #fa5a5a
}

.remove {
  background-color: #ff7a7a
}

.todos__heading {
  font-size: 30px;
  text-align: center;
  color: white;
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 24px;
  color: rgb(61, 67, 67);
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  color: rgb(61, 67, 67);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
