@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #494a5a;
  font-family: "Montserrat+Alternates";
}


@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
